<div class="default-banner">
  <div class="">
    <div class="animated fadeIn slow">
      <ngb-carousel *ngIf="images">
        <div class="container animated fadeIn slow">
          <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-md-10 col-12">
              <ng-template ngbSlide>
                <img [src]="images[0]" alt="Random first slide" class="animated fadeIn slow">
                <div class="carousel-caption banner-content text-center">
                  <h4 class="text-white mb-20 text-uppercase">{{ 'carousel.copetes.copete-1' | translate }}</h4>
                  <h1 class="text-uppercase text-white">{{ 'carousel.titulos.titulo-1' | translate }}</h1>
                  <p class="text-white">{{ 'carousel.bajadas.bajada-1' | translate }}</p>
                  <a [routerLink]="['../socios']"  class="text-uppercase header-btn">{{ 'carousel.botones.boton-1' | translate }}</a>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="container animated fadeIn slow">
          <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-md-10 col-12">
              <ng-template ngbSlide>
                <img [src]="images[1]" alt="Random second slide" class="animated fadeIn slow" style="background-size: cover">
                <div class="carousel-caption banner-content text-center">
                  <h4 class="text-white mb-20 text-uppercase">{{ 'carousel.copetes.copete-2' | translate }}</h4>
                  <h1 class="text-uppercase text-white">{{ 'carousel.titulos.titulo-2' | translate }}</h1>
                  <p class="text-white">{{ 'carousel.bajadas.bajada-2' | translate }}</p>
                  <a [routerLink]="['../socios']"  class="text-uppercase header-btn">{{ 'carousel.botones.boton-2' | translate }}</a>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="container animated fadeIn slow">
          <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-md-10 col-12">
              <ng-template ngbSlide>
                <img [src]="images[2]" alt="Random third slide" class="animated fadeIn slow">
                <div class="carousel-caption banner-content text-center">
                  <h4 class="text-white mb-20 text-uppercase">{{ 'carousel.copetes.copete-3' | translate }}</h4>
                  <h1 class="text-uppercase text-white">{{ 'carousel.titulos.titulo-3' | translate }}</h1>
                  <p class="text-white">{{ 'carousel.bajadas.bajada-3' | translate }}</p>
                  <a [routerLink]="['../socios']"  class="text-uppercase header-btn">{{ 'carousel.botones.boton-3' | translate }}</a>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="container animated fadeIn slow">
          <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-md-10 col-12">
              <ng-template ngbSlide>
                <img [src]="images[3]" alt="Random third slide" class="animated fadeIn slow">
                <div class="carousel-caption banner-content text-center">
                  <h4 class="text-white mb-20 text-uppercase">{{ 'carousel.copetes.copete-4' | translate }}</h4>
                  <h1 class="text-uppercase text-white">{{ 'carousel.titulos.titulo-4' | translate }}</h1>
                  <p class="text-white">{{ 'carousel.bajadas.bajada-4' | translate }}</p>
                  <a [routerLink]="['../socios']"  class="text-uppercase header-btn">{{ 'carousel.botones.boton-4' | translate }}</a>
                </div>
              </ng-template>
            </div>
          </div>
        </div>          
      </ngb-carousel>  
    </div>
  </div>
</div>
