
			<!-- Start about Area -->
			<section class="section-gap info-area animated fadeIn fast" id="about">
				<div class="container">
					<div class="single-info row mt-40">
						<div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
							<div class="info-thumb">
								<img src="./assets/img/equipo.png" class="img-fluid" alt="">
							</div>
							<br><br>
							<div class="col-lg-10 col-md-12 no-padding info-left">
								<div class="container">
									<h1 class="display-4">{{ 'secciones.nosotros.mision' | translate }}</h1>
									<p class="lead">{{ 'secciones.nosotros.textoM-1' | translate }}
									</p>
									<p class="lead">{{ 'secciones.nosotros.textoM-2' | translate }}
									</p>
								</div>
								<hr>
							</div>
							<br>
							<div class="col-lg-10 col-md-12 no-padding info-left">
								<div class="container">
									<h1 class="display-4">{{ 'secciones.nosotros.vision' | translate }}</h1>
									<p class="lead">{{ 'secciones.nosotros.textoV-1' | translate }}
									</p>
									<p class="lead">{{ 'secciones.nosotros.textoV-2' | translate }}
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-lg-6 col-md-12 no-padding info-rigth">
							<div class="info-content">
									<p>{{ 'secciones.nosotros.copete' | translate }}</p>
									<h2 class="pb-30">{{ 'secciones.nosotros.titulo-1' | translate }}<br>
									{{ 'secciones.nosotros.titulo-2' | translate }} </h2>
									<p>
									{{ 'secciones.nosotros.texto-1' | translate }} 
									</p>
									<p>
									{{ 'secciones.nosotros.texto-2' | translate }}
									</p>
									<p>
									{{ 'secciones.nosotros.texto-3' | translate }}
									</p>
									<hr>
									<br><br>
									<div class="row d-flex justify-content-center">
										<div class="menu-content pb-60 col-lg-12">
											<div class="title text-center">
												<h1 class="mb-10">{{ 'secciones.nosotros.imperativo' | translate }}</h1>
												 <button routerLink="../asociarse" type="button" class="primary-btn mt-20">{{ 'secciones.nosotros.boton' | translate }}<span class="lnr lnr-arrow-right"></span></button>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End about Area -->
