
			<!-- Start about Area -->
			<section class="section-gap info-area animated fadeIn fast" id="about">
				<div class="container">
					<!-- <div class="row d-flex justify-content-center">
						<div class="menu-content pb-40 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Why Choose Us Your Fitness Builder</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div> -->
					<div class="single-info row mt-40">
						<div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
							<div class="info-thumb">
								<img src="./assets/img/equipo.png" class="img-fluid" alt="">
							</div>
						</div>
						<div class="col-lg-6 col-md-12 no-padding info-rigth">
							<div class="info-content">
									<h2 class="pb-30">#EquipoBureauSMA <br>
									Trabajando por juntos <br>
									por el mismo destino</h2>
									<p>
										San Martín de los Andes Bureau es una asociación sin fines de lucro,
										 constituido por empresarios y profesionales vinculados al ámbito del
										 turismo de reuniones, de carácter Privado – Público.
									</p>
									<p>
										La fusión entre el evento y San Martín de los Andes Bureau es la sinergia
										 operativa necesaria para asegurar el éxito. Fomenta la sustentabilidad del
										  destino y activa la economía de la ciudad.
									</p>
									<p>
										Nuestros asociados están comprometidos en brindar servicios de calidad,
										 buscando siempre satisfacer las necesidades de quienes nos visitan convirtiéndose
										  en sus aliados estratégicos.
									</p>
									<h4>MISIÓN</h4>
									<p>
										Posicionar a San Martín de los Andes como el destino para la realización de eventos
										 de alta calidad.
									</p>
									<p>
										Maximizar la experiencia de nuestros visitantes en la satisfacción por los servicios
										 recibidos de todos los proveedores y profesionales asociados, contribuyendo con el
										  desarrollo económico social y cultural del destino.
									</p>
									<h4>VISIÓN</h4>
									<p>
										Promover a San Martín de los Andes como el destino para la organización de congresos,
										 convenciones, ferias y viajes de incentivo. Crear las condiciones para que nuestros
										  asociados reciban capacitación continua para generar un destino con un alto grado
											 de satisfacción.
									</p>
									<p>
										Ser un motor en la concientización del cuidado del medio ambiente, responsabilidad
										 social ciudadana y empresarial para proteger las bellezas naturales que nos rodean.
									</p>
									<hr>
									<br><br>
									<div class="row d-flex justify-content-center">
										<div class="menu-content pb-60 col-lg-8">
											<div class="title text-center">
												<h1 class="mb-10">Sumate a nuestro equipo</h1>
												 <button routerLink="../asociarse" type="button" class="primary-btn mt-20">Por qué asociarse<span class="lnr lnr-arrow-right"></span></button>
											</div>
										</div>
									</div>
									<!-- <button routerLink="../asociarse" class="primary-btn mt-20">Ser parte de este equipo<span class="lnr lnr-arrow-right"></span></button> -->
								</div>

						</div>
					</div>
				</div>
			</section>
			<!-- End about Area -->
