
			<!-- Start about Area -->
			<section class="section-gap info-area animated fadeIn fast" id="about">
				<div class="container">
					<div class="single-info row mt-40">
						<div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
							<div class="info-thumb">
								<img src="./assets/img/equipo.png" class="img-fluid" alt="">
							</div>
							<br><br>
							<div class="col-lg-10 col-md-12 no-padding info-left">
								<div class="container">
									<h1 class="display-4">MISIÓN</h1>
									<p class="lead">
											Posicionar a San Martín de los Andes como el destino para la realización de eventos
											 de alta calidad.
									</p>
									<p class="lead">
											Maximizar la experiencia de nuestros visitantes en la satisfacción por los servicios
											 recibidos de todos los proveedores y profesionales asociados, contribuyendo con el
											  desarrollo económico social y cultural del destino.
									</p>
								</div>
								<hr>
							</div>
							<br>
							<div class="col-lg-10 col-md-12 no-padding info-left">
								<div class="container">
									<h1 class="display-4">VISIÓN</h1>
									<p class="lead">
											Promover a San Martín de los Andes como el destino para la organización de congresos,
											convenciones, ferias y viajes de incentivo. Crear las condiciones para que nuestros
											 asociados reciban capacitación continua para generar un destino con un alto grado
												de satisfacción.
									</p>
									<p class="lead">
										   Ser un motor en la concientización del cuidado del medio ambiente, responsabilidad
											social ciudadana y empresarial para proteger las bellezas naturales que nos rodean.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-lg-6 col-md-12 no-padding info-rigth">
							<div class="info-content">
									<p>#EquipoBureauSMA</p>
									<h2 class="pb-30">
									Trabajando por juntos <br>
									por el mismo destino</h2>
									<p>
										San Martín de los Andes Bureau es una asociación sin fines de lucro,
										 constituido por empresarios y profesionales vinculados al ámbito del
										 turismo de reuniones, de carácter Privado – Público.
									</p>
									<p>
										La fusión entre el evento y San Martín de los Andes Bureau es la sinergia
										 operativa necesaria para asegurar el éxito. Fomenta la sustentabilidad del
										  destino y activa la economía de la ciudad.
									</p>
									<p>
										Nuestros asociados están comprometidos en brindar servicios de calidad,
										 buscando siempre satisfacer las necesidades de quienes nos visitan convirtiéndose
										  en sus aliados estratégicos.
									</p>
									<hr>
									<br><br>
									<div class="row d-flex justify-content-center">
										<div class="menu-content pb-60 col-lg-12">
											<div class="title text-center">
												<h1 class="mb-10">Sumate a nuestro equipo</h1>
												 <button routerLink="../asociarse" type="button" class="primary-btn mt-20">Por qué asociarse<span class="lnr lnr-arrow-right"></span></button>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End about Area -->
