
    <!-- Start feature Area -->
    <section class="feature-area section-gap" id="secvice" style="padding-top:50px; padding-bottom: 100px">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
              <div class="title text-center">
                <h1 class="mb-10">{{ 'secciones.home.caracteristicas.titulo' | translate }}</h1>
                <p>{{ 'secciones.home.caracteristicas.bajada' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="single-feature mb-30">
                <div class="title d-flex flex-row pb-20">
                <span class="lnr"><i class="fas fa-utensils"></i></span>
                  <h4><a [routerLink]="['../sma']" fragment="gastronomia">{{ 'secciones.home.caracteristicas.items.item-1.titulo' | translate }}</a></h4>
                </div>
                <p>
                  {{ 'secciones.home.caracteristicas.items.item-1.detalle' | translate }}
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature mb-30">
                <div class="title d-flex flex-row pb-20">
                  <span class="lnr"><i class="fas fa-hotel"></i></span>
                  <h4><a [routerLink]="['../sma']" fragment="hoteleria">{{ 'secciones.home.caracteristicas.items.item-2.titulo' | translate }}</a></h4>
                </div>
                <p>
                  {{ 'secciones.home.caracteristicas.items.item-2.detalle' | translate }}
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature mb-30">
                <div class="title d-flex flex-row pb-20">
                  <span class="lnr"><i class="fas fa-chair"></i></span>
                  <h4><a [routerLink]="['../sma']" fragment="salones">{{ 'secciones.home.caracteristicas.items.item-3.titulo' | translate }}</a></h4>
                </div>
                <p>
                  {{ 'secciones.home.caracteristicas.items.item-3.detalle' | translate }}
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature mb-30">
                <div class="title d-flex flex-row pb-20">
                  <span class="lnr"><i class="fas fa-snowboarding"></i></span>
                  <h4><a [routerLink]="['../sma']" fragment="actividades">{{ 'secciones.home.caracteristicas.items.item-4.titulo' | translate }}</a></h4>
                </div>
                <p>
                  {{ 'secciones.home.caracteristicas.items.item-4.detalle' | translate }}
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature mb-30">
                <div class="title d-flex flex-row pb-20">
                  <span class="lnr"><i class="fas fa-gifts"></i></span>
                  <h4><a [routerLink]="['../sma']" fragment="artesanias">{{ 'secciones.home.caracteristicas.items.item-5.titulo' | translate }}</a></h4>
                </div>
                <p>
                  {{ 'secciones.home.caracteristicas.items.item-5.detalle' | translate }}
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature mb-30">
                <div class="title d-flex flex-row pb-20">
                  <span class="lnr"><i class="fas fa-heart"></i></span>
                  <h4><a [routerLink]="['../sma']" fragment="amabilidad">{{ 'secciones.home.caracteristicas.items.item-6.titulo' | translate }}</a></h4>
                </div>
                <p>
                  {{ 'secciones.home.caracteristicas.items.item-6.detalle' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End feature Area -->