
    <!-- Start feature Area -->
    <section class="feature-area section-gap" id="secvice" style="padding-top:50px; padding-bottom: 100px">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
              <div class="title text-center">
                <h1 class="mb-10">La mejor opción para su evento</h1>
                <p>San Martín de los Andes - Sede de Eventos</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="single-feature mb-30">
                <div class="title d-flex flex-row pb-20">
                <span class="lnr"><i class="fas fa-utensils"></i></span>
                  <h4><a [routerLink]="['../sma']" fragment="gastronomia">Gastronomía</a></h4>
                </div>
                <p>
                  “Exquisita gastronomía típica de la Patagonia”
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature mb-30">
                <div class="title d-flex flex-row pb-20">
                  <span class="lnr"><i class="fas fa-hotel"></i></span>
                  <h4><a [routerLink]="['../sma']" fragment="hoteleria">Hotelería</a></h4>
                </div>
                <p>
                  “Hotelería tres, cuatro y cinco estrellas”
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature mb-30">
                <div class="title d-flex flex-row pb-20">
                  <span class="lnr"><i class="fas fa-chair"></i></span>
                  <h4><a [routerLink]="['../sma']" fragment="salones">Salones</a></h4>
                </div>
                <p>
                  “Salones con capacidad hasta 250 personas”
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature mb-30">
                <div class="title d-flex flex-row pb-20">
                  <span class="lnr"><i class="fas fa-snowboarding"></i></span>
                  <h4><a [routerLink]="['../sma']" fragment="actividades">Actividades</a></h4>
                </div>
                <p>
                  “Diversidad de oferta turística”
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature mb-30">
                <div class="title d-flex flex-row pb-20">
                  <span class="lnr"><i class="fas fa-gifts"></i></span>
                  <h4><a [routerLink]="['../sma']" fragment="artesanias">Artesanías</a></h4>
                </div>
                <p>
                  “Artesanías tipicas de la Patagonia”
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature mb-30">
                <div class="title d-flex flex-row pb-20">
                  <span class="lnr"><i class="fas fa-heart"></i></span>
                  <h4><a [routerLink]="['../sma']" fragment="amabilidad">Amabilidad</a></h4>
                </div>
                <p>
                  “Una ciudad con buenas costumbres”
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End feature Area -->