<!-- start contact Area -->
<section class="contact-area section-socios animated fadeIn fast" id="contact">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <h1 class="mb-10">Porque asociarse al Bureau</h1>

        <div class="info-content">
            <p>
              San Martín de los Andes Bureau promueve e impulsa a la ciudad como sede
               de turismo de reuniones para eventos, congresos, convenciones, ferias,
                exposiciones, turismo de incentivo, etc. Buscando así terminar con la
                 estacionalidad del turismo de ocio. Magnificando así la utilización
                  de toda la infraestructura y servicios durante los 12 meses del año.
            </p>
            <p>
              Asociarse es querer pertenecer a un grupo de profesionales que trabajan
               por el destino, con un fin común que es San Martín de los Andes sede
                de turismo de reuniones.
            </p>
            <h5>Beneficios:</h5>
            <ul style="list-style-type:disc;">
              <li>Proyecta a su empresa al turismo de reuniones.</li>
              <li>Genera presencia de marca en redes sociales por el logo del buerau lo que certifica la calidad de sus servicios.</li>
              <li>Genera presencia de marca en ferias nacionales e internacionales.</li>
              <li>Búsqueda constante de eventos.</li>
              <li>Asesoramiento técnico e informativo acerca de la infraestructura y servicios de la ciudad.</li>
              <li>Desarrollo de encuentros entre los asociados para generar sinergia en el trabajo para eventos.</li>
              <li>Genera ventajas competitivas que impactan directamente en la facturación en los meses considerados de baja.</li>
              <li>Desarrollar un programa de Responsabilidad Empresaria que nuclee a todos los asociados.</li>
            </ul>
          </div>
        <div><hr></div>
        <div class="title text-center">
          <h1 class="mb-10">Solicitar información para asociarse</h1>
          <p>Sumate a nuestro equipo</p>
        </div>
      </div>
    </div>
    <form class="form-area " id="myForm" action="mail.php" method="post" class="contact-form text-right">
      <div class="row">
      <div class="col-lg-6 form-group">
        <input name="name" placeholder="Ingrese su nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese su nombre'" class="common-input mb-20 form-control" required="" type="text">

        <input name="email" placeholder="Ingrese su correo electrónico" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese su correo electrónico'" class="common-input mb-20 form-control" required="" type="email">

        <input name="subject" placeholder="Ingrese su asunto" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese su asunto'" class="common-input mb-20 form-control" required="" type="text">
      </div>
      <div class="col-lg-6 form-group">
        <textarea class="common-textarea mt-10 form-control" name="message" placeholder="Mensaje" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mensaje'" required=""></textarea>
        <button type="submit" class="primary-btn mt-20">Enviar Mensaje <span class="lnr lnr-arrow-right"></span></button>
        <div class="alert-msg">
      </div>
      </div></div>
    </form>

  </div>
</section>
<!-- end contact Area -->
