<!-- Start project Area -->
<section class="project-area section-gap" id="project" style="padding-top:50px">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-30 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">{{ 'secciones.home.slider.titulo' | translate }}</h1>
          <p>{{ 'secciones.home.slider.texto1' | translate }}<br>{{ 'secciones.home.slider.texto2' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex">
      <div class="active-works-carousel mt-40 col-lg-8">
        <ngb-carousel *ngIf="images">
          <div class="item">
            <ng-template ngbSlide>            
              <div class="card mb-3 animated fadeIn fast">
                <img [src]="images[0]" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ 'secciones.home.sliders.slider-1.titulo' | translate }}</h5>
                  <p class="card-text">{{ 'secciones.home.sliders.slider-1.texto' | translate }}</p>
                  <p class="card-text"><small class="text-muted">{{ 'secciones.home.sliders.slider-1.bajada' | translate }}</small></p>
                </div>
              </div>
            </ng-template>
          </div> 
          <div class="item">
            <ng-template ngbSlide>
              <div class="card mb-3 animated fadeIn fast">
                <img [src]="images[1]" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ 'secciones.home.sliders.slider-2.titulo' | translate }}</h5>
                  <p class="card-text">{{ 'secciones.home.sliders.slider-2.texto' | translate }}</p>
                  <p class="card-text"><small class="text-muted">{{ 'secciones.home.sliders.slider-2.bajada' | translate }}</small></p>
                </div>
              </div>
            </ng-template>
          </div> 
          <div class="item">
            <ng-template ngbSlide>
              <div class="card mb-3 animated fadeIn fast">
                <img [src]="images[4]" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ 'secciones.home.sliders.slider-3.titulo' | translate }}</h5>
                  <p class="card-text">{{ 'secciones.home.sliders.slider-3.texto' | translate }}</p>
                  <p class="card-text"><small class="text-muted">{{ 'secciones.home.sliders.slider-3.bajada' | translate }}</small></p>
                </div>
              </div> 
            </ng-template>
          </div>                               
        </ngb-carousel>
      </div>
    </div>
  </div>
</section>