<!-- Start project Area -->
<section class="project-area section-gap" id="project" style="padding-top:50px">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-30 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Bureau San Martín de los Andes</h1>
          <p>La fusión entre su evento y San Martín de los Andes Bureau <br> es la sinergia operativa necesaria para asegurar el éxito.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex">
      <div class="active-works-carousel mt-40 col-lg-8">
        <ngb-carousel *ngIf="images">
          <div class="item">
            <ng-template ngbSlide>            
              <div class="card mb-3 animated fadeIn fast">
                <img [src]="images[0]" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Entorno</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat</p>
                  <p class="card-text"><small class="text-muted">San Martín de los Andes - Patagonia Argentina</small></p>
                </div>
              </div>
            </ng-template>
          </div> 
          <div class="item">
            <ng-template ngbSlide>
              <div class="card mb-3 animated fadeIn fast">
                <img [src]="images[1]" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ahumados Patagónicos</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat</p>
                  <p class="card-text"><small class="text-muted">San Martín de los Andes - Patagonia Argentina</small></p>
                </div>
              </div>
            </ng-template>
          </div> 
          <div class="item">
            <ng-template ngbSlide>
              <div class="card mb-3 animated fadeIn fast">
                <img [src]="images[2]" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Actividades de Invierno</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat</p>
                  <p class="card-text"><small class="text-muted">San Martín de los Andes - Patagonia Argentina</small></p>
                </div>
              </div>
            </ng-template>
          </div> 
          <div class="item">
            <ng-template ngbSlide>
              <div class="card mb-3 animated fadeIn fast">
                <img [src]="images[3]" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Actividades de Verano</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat</p>
                  <p class="card-text"><small class="text-muted">San Martín de los Andes - Patagonia Argentina</small></p>
                </div>
              </div>   
            </ng-template>
          </div> 
          <div class="item">
            <ng-template ngbSlide>
              <div class="card mb-3 animated fadeIn fast">
                <img [src]="images[4]" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Una ciudad distinta</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat</p>
                  <p class="card-text"><small class="text-muted">San Martín de los Andes - Patagonia Argentina</small></p>
                </div>
              </div> 
            </ng-template>
          </div>                               
        </ngb-carousel>
      </div>
    </div>
  </div>
</section>