<!-- start socios Area -->
<section class="contact-area section-gap animated fadeIn fast" id="socios">
	<div class="container">
		<div class="title text-center">
			<h1 class="mb-10">Servicios para Eventos</h1>
				<p>San Martín de los Andes - Patagonia Argentina</p>
				<hr>
		</div>
		<div class="galeria">
		<div class="menu">
			<ul>
				<li class="todos active"><a href="#" class="btn-menu" data-filter="todos">Todos</a></li>
				<li class="servicios_turisticos"><a href="#" class="btn-menu" data-filter="servicios_turisticos">Servicios Turísticos</a></li>
				<li class="hoteles"><a href="#" class="btn-menu" data-filter="hoteles">Hoteles</a></li>
				<li class="organizadores"><a href="#" class="btn-menu" data-filter="organizadores">Organizadores</a></li>
				<li class="salones"><a href="#" class="btn-menu" data-filter="salones">Salones</a></li>
				<li class="varios"><a href="#" class="btn-menu" data-filter="varios">Varios</a></li>

			</ul>
		</div>
		<div class="card-columns">
			<app-socio-tarjeta [socio]="socio" [index]="i" *ngFor="let socio of socios, let i = index"></app-socio-tarjeta>
			<!-- <app-socio-tarjeta [socio]="socio" [index]="i"></app-socio-tarjeta> -->
		</div>
		<hr>
	</div>
	</div>
</section>
<!-- end socios Area -->
