  <div class=" box-img {{ socio.etiqueta_filtro }} card animated fadeIn fast">
  <img [src]="socio.img" class="card-img-top" [alt]="socio.titulo">
    <div class="card-body">
      <h5 class="card-title">{{ socio.titulo | uppercase }}</h5>
      <p class="card-text">{{ socio.detalle }}</p>
      <a [href]="socio.url" target="_blank"> <button type="button" class="btn btn-info">
        {{ socio.categoria }}
      </button></a>
      <!-- <a [routerLink]="['/application', i]" class="btn btn-warning">Calculate</a> -->
    </div>
  </div>
