<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block dropdown-toggle">
        <button class="btn btn-outline" id="dropdownConfig" ngbDropdownToggle><span class="text-white lnr lnr-menu"></span></button>
        
        <div class="dropdown-toggle" ngbDropdownMenu aria-labelledby="dropdownConfig">
            <a [routerLink]="['home']"><button ngbDropdownItem>Inicio</button></a>
            <a [routerLink]="['about']"><button ngbDropdownItem>Nosotros</button></a>
            <a [routerLink]="['sma']"><button ngbDropdownItem>San Martín de los Andes</button></a>
            <a [routerLink]="['socios']"><button ngbDropdownItem>Socios</button></a>
            <a [routerLink]="['contacto']"><button ngbDropdownItem>Contacto</button></a>
        </div>
      </div>
    </div>