<!-- Start sma Area -->
<section class="section-sma info-area animated fadeIn fast" id="sma">
  <div class="whole-wrap">
    <div class="container">
        <h3 class="mb-30">Por qué San Martín de los Andes</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="single-defination">
              <h4 class="mb-20">Un entorno distinto</h4>

                <img src="./assets/img/definicion-01.jpg" alt="" class="img-fluid">
              <hr>
              <p>San Martín de los Andes está emplazada en un valle dentro del Parque Nacional Lanín,
                 rodeada de montañas con espesos bosques y profundos lagos de origen glaciar.
                 Se ubica al sur de la Provincia de Neuquén, y tiene un aeropuerto local ubicado pocos minutos.
                 Posee una arquitectura cordillerana con características propias de la zona.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-defination">
              <h4 class="mb-20">Una ciudad servicial</h4>

              <img src="./assets/img/definicion-02.jpg" alt="" class="img-fluid">
              <hr>
              <p>Es una ciudad segura, tranquila y de comportamientos amigables para los visitantes.
                Cuenta con una gastronomía exquisita, excelente calidad de alojamiento en sus diferentes
                 categorías y alternativas de paseos, excursiones, actividades para antes y después de los eventos.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-defination">
              <h4 class="mb-20">Sede de Eventos</h4>

              <img src="./assets/img/definicion-03.jpg" alt="" class="img-fluid">
              <hr>
              <p>Todos esto hace que sea una original y particular Sede para congresos, convenciones, incentivos,
                 corporativos y deportivos, acompañado por un paisaje único. Los meses de eventos son: Marzo -
                 Abril - Mayo - Junio - Octubre - Septiembre - Noviembre. Capacidad para Conferencias: 250</p>
            </div>
          </div>
        </div>
      <div class="section-top-border" id="gastronomia">
        <h3 class="mb-30">Gastronomía</h3>
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="generic-blockquote">
              “Exquisita gastronomía típica de la Patagonia”
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="./assets/img/gastronomia.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-6 mt-sm-20">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
               ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                 voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
               ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                 voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
      <div class="section-top-border text-right" id="hoteleria">
        <h3 class="mb-30">Hotelería</h3>
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="generic-blockquote-right">
              “Hotelería tres, cuatro y cinco estrellas”
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-right">Over time, even the most sophisticated, memory packed computer can begin to run slow if we don’t do something to prevent it. The reason why has less to do with how computers are made and how they age and more to do with the way we use them. You see, all of the daily tasks that we do on our PC from running programs to downloading and deleting software can make our computer sluggish. To keep this from happening, you need to understand the reasons why your PC is getting slower and do something to keep your PC running at its best. You can do this through regular maintenance and PC performance optimization programs</p>
            <p class="text-right">Before we discuss all of the things that could be affecting your PC’s performance, let’s talk a little about what symptoms</p>
          </div>
          <div class="col-md-6">
            <img src="./assets/img/hoteleria.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="whole-wrap">
    <div class="container">
      <div class="section-top-border" id="salones">
        <h3 class="mb-30">Salones</h3>
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="generic-blockquote">
              “Salones con capacidad hasta 250 personas”
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="./assets/img/salones.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-6 mt-sm-20">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
           ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
             voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
           ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
             voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
        </div>
      </div>
      <div class="section-top-border text-right" id="actividades">
        <h3 class="mb-30">Actividades</h3>
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="generic-blockquote-right">
              “Diversidad de oferta turística”
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
             ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
               voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
             ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
               voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-md-6">
            <img src="./assets/img/actividades.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="whole-wrap">
    <div class="container">
      <div class="section-top-border" id="artesanias">
        <h3 class="mb-30">Artesanías</h3>
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="generic-blockquote">
              “Artesanías tipicas de la Patagonia”
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="./assets/img/artesanias.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-6 mt-sm-20">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
               ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                 voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
               ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                 voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
      <div class="section-top-border text-right" id="amabilidad">
        <h3 class="mb-30">Amabilidad</h3>
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="generic-blockquote-right">
              “Una ciudad con buenas costumbres”
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
             ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
               voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
             ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
               voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-md-6">
            <img src="./assets/img/amabilidad.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End sma Area -->
