<!-- Start sma Area -->
<section class="section-sma info-area animated fadeIn fast" id="sma">
  <div class="whole-wrap">
    <div class="container">
        <h3 class="mb-30">{{ 'secciones.sma.titulo' | translate }}</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="single-defination">
              <h4 class="mb-20">{{ 'secciones.sma.subtitulo-1' | translate }}</h4>

                <img src="./assets/img/definicion-01.jpg" alt="" class="img-fluid">
              <hr>
              <p>{{ 'secciones.sma.texto-1' | translate }}</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-defination">
              <h4 class="mb-20">{{ 'secciones.sma.subtitulo-1' | translate }}</h4>

              <img src="./assets/img/definicion-02.jpg" alt="" class="img-fluid">
              <hr>
              <p>{{ 'secciones.sma.texto-2' | translate }}</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-defination">
              <h4 class="mb-20">{{ 'secciones.sma.subtitulo-1' | translate }}</h4>

              <img src="./assets/img/definicion-03.jpg" alt="" class="img-fluid">
              <hr>
              <p>{{ 'secciones.sma.texto-3' | translate }}/p>
            </div>
          </div>
        </div>
      <div class="section-top-border" id="gastronomia">
        <h3 class="mb-30">{{ 'secciones.sma.item-1.titulo' | translate }}</h3>
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="generic-blockquote">
              “{{ 'secciones.sma.item-1.bajada' | translate }}”
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="./assets/img/gastronomia.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-6 mt-sm-20">
            <p>{{ 'secciones.sma.item-1.texto-1' | translate }}</p>
            <p>{{ 'secciones.sma.item-1.texto-2' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="section-top-border text-right" id="hoteleria">
        <h3 class="mb-30">{{ 'secciones.sma.item-2.titulo' | translate }}</h3>
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="generic-blockquote-right">
              “{{ 'secciones.sma.item-2.bajada' | translate }}”
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <p class="text-right">{{ 'secciones.sma.item-2.texto-1' | translate }}</p>
            <p class="text-right">{{ 'secciones.sma.item-2.texto-2' | translate }}</p>
          </div>
          <div class="col-lg-6">
            <img src="./assets/img/hoteleria.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="whole-wrap">
    <div class="container">
      <div class="section-top-border" id="salones">
        <h3 class="mb-30">{{ 'secciones.sma.item-3.titulo' | translate }}</h3>
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="generic-blockquote">
              “{{ 'secciones.sma.item-3.bajada' | translate }}”
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="./assets/img/salones.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-6 mt-sm-20">
          <p>{{ 'secciones.sma.item-3.texto-1' | translate }}</p>
            <p>{{ 'secciones.sma.item-3.texto-2' | translate }}</p></div>
        </div>
      </div>
      <div class="section-top-border text-right" id="actividades">
        <h3 class="mb-30">{{ 'secciones.sma.item-4.titulo' | translate }}</h3>
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="generic-blockquote-right">
              “{{ 'secciones.sma.item-4.bajada' | translate }}”
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-right">{{ 'secciones.sma.item-4.texto-1' | translate }}</p>
            <p class="text-right">{{ 'secciones.sma.item-4.texto-2' | translate }}/p>
          </div>
          <div class="col-md-6">
            <img src="./assets/img/actividades.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="whole-wrap">
    <div class="container">
      <div class="section-top-border" id="artesanias">
        <h3 class="mb-30">{{ 'secciones.sma.item-5.titulo' | translate }}</h3>
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="generic-blockquote">
              “{{ 'secciones.sma.item-5.bajada' | translate }}”
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="./assets/img/artesanias.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-6 mt-sm-20">
            <p>{{ 'secciones.sma.item-5.texto-1' | translate }}</p>
            <p>{{ 'secciones.sma.item-5.texto-2' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="section-top-border text-right" id="amabilidad">
        <h3 class="mb-30">{{ 'secciones.sma.item-6.titulo' | translate }}</h3>
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="generic-blockquote-right">
              “{{ 'secciones.sma.item-6.bajada' | translate }}”
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-right">{{ 'secciones.sma.item-6.texto-1' | translate }}</p>
            <p class="text-right">{{ 'secciones.sma.item-6.texto-2' | translate }}</p>
          </div>
          <div class="col-md-6">
            <img src="./assets/img/amabilidad.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End sma Area -->
