
<!-- start footer Area -->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="single-footer-widget">
            <a [routerLink]="['nosotros']" (click)="isNavbarCollapsed = !isNavbarCollapsed"><h6>{{ 'footer.titulo-1' | translate }}</h6></a>
          <p>
              {{ 'footer.texto-1' | translate }}
          </p>
        </div>
      </div>
      <div class="col-lg-5  col-md-6 col-sm-6">
        <div class="single-footer-widget">
            <a [routerLink]="['asociarse']" (click)="isNavbarCollapsed = !isNavbarCollapsed"><h6>{{ 'footer.titulo-2' | translate }}</h6></a>
          <p>{{ 'footer.texto-2' | translate }}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
        <div class="single-footer-widget">
          <h6>{{ 'footer.titulo-3' | translate }}</h6>
          <p>{{ 'footer.texto-3' | translate }}</p>
          <div class="footer-social d-flex align-items-center">
            <a href="https://www.facebook.com/SanMartinDeLosAndesBureau/"><i class="fa fa-facebook"></i></a>
            <!-- <a href="https://www.instagram.com/bureau_smandes/"><i class="fa fa-twitter"></i></a> -->
            <a href="https://www.instagram.com/bureau_smandes/"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End footer Area -->
