<button [ngClass]="{'active': activeLang == 'es'}" (click)="cambiarLenguaje('es')" class="rounded-circle"><img src="./assets/img/elements/es.png" style="max-height: 30px;" alt="Español"></button>
<button [ngClass]="{'active': activeLang == 'en'}" (click)="cambiarLenguaje('en')" class="rounded-circle"><img src="./assets/img/elements/en.png" style="max-height: 30px;" alt="English"></button>
<button [ngClass]="{'active': activeLang == 'pt'}" (click)="cambiarLenguaje('pt')" class="rounded-circle"><img src="./assets/img/elements/pt.png" style="max-height: 30px;" alt="Portugués"></button>
